*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.cont-7{
    padding: 1.4%;
   background-color: #5243dd;
 /* color: black !important; */
    display: flex;
    justify-content: space-between;
    height: 7vh;
}

.cont-7 h3{
    color: black;
    font-weight: lighter;
    /* color: red; */
}


@media (max-width:480px) {
    .cont-7{
padding: 1.6%;
background-color: #5243dd;
/* color: black !important; */
display: flex;
flex-direction: column;
align-items: center;
/* justify-content: space-between; */
height: auto;
}

.cont-7 h3{
color: black;
font-size: medium;
/* color: red; */
}

}