
.h1-1-2{
    font-family: 'Zentry',sans-serif;
}
.h1-2-2{
    font-family: 'Zentry',sans-serif;
    font-weight: bolder;
}

.p-1-2{
    /* font-size: 0.7cm; */
    font-family: 'Rober Medium',sans-serif;

}
.p-2-2{
    /* font-size: 0.7cm; */
    font-family: 'General',sans-serif;

}


@media (max-width:480px) {
      .cont-2{
    width: 100%;
    min-height: 90vh;
    height: auto;
    position: relative;
    z-index: 50;
    color: rgb(255, 255, 255);
}

.cont-2 p{
    font-size: medium;
    text-transform: capitalize;
}


.video-wrapper{
    width: 100%;
    height: 620px;
    background-color: rgb(0, 0, 0);
    position: relative;
    /* z-index: -2; */
    object-position: center;
    object-fit: cover;
    overflow: hidden;
}

.video-1-2{
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(50%,-50%); */
    /* width: 3170px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: absolute;
    top: 0;
    left: 0;
    /* right: 5%; */
    object-position: center;
    object-fit: cover;
    /* left: -41.5%; */
    z-index: 40;
}

.h1-1-2{
    padding-top: 12%;
    padding-left: 1.4%;
    font-size: 1.4cm;
    text-transform: uppercase;
}
.p-1-2{
    /* background-color: red; */
    font-size: x-small;
    padding-top: 5%;
    padding-left: 3%;
}
.p-2-2{
    /* font-size: small; */
    padding-left: 3%;
    padding-top: 0.5%;
}

.btn-1-2{
    font-size: small;
    background-color: yellow;
    border-radius: 25px;
    width: 120px;
    height: 5.5vh;
    margin-top: 1%;
    margin-left: 4%;
}

.h1-2-2{
    font-size: 1.42cm;
    position: absolute;
    right: 0%;
    /* top: 70%; */
    bottom: 7%;
    /* transform: translate(29.1vw,260px); */
    text-transform: uppercase;
}
}

@media (min-width:481px) and (max-width:768px) {
      .cont-2{
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    z-index: 50;
    color: rgb(255, 255, 255);
}

.cont-2 p{
    font-size: larger;
    text-transform: capitalize;
}


.video-wrapper{
    width: 100%;
    height: 690px;
    background-color: rgb(0, 0, 0);
    position: relative;
    /* z-index: -2; */
    object-position: center;
    object-fit: cover;
    overflow: hidden;
}

.video-1-2{
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(50%,-50%); */
    /* width: 3170px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: absolute;
    top: 0;
    left: 0;
    /* right: 5%; */
    object-position: center;
    object-fit: cover;
    /* left: -41.5%; */
    z-index: 40;
}

.h1-1-2{
    padding-top: 2%;
    padding-left: 2%;
    font-size: 2cm;
    text-transform: uppercase;
}
.p-1-2{
    padding-top: 1%;
    padding-left: 3%;
}
.p-2-2{
    padding-left: 3%;
    padding-top: 0.5%;
}

.btn-1-2{
    font-size: small;
    background-color: yellow;
    border-radius: 25px;
    width: 130px;
    height: 6vh;
    margin-top: 1%;
    margin-left: 4%;
}

.h1-2-2{
    font-size: 2cm;
    position: absolute;
    right: 0%;
    top: 67%;
    /* transform: translate(320px,320px); */
    text-transform: uppercase;
}
}

@media (min-width:769px) and (max-width:1024px) {
    .cont-2{
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    z-index: 50;
    color: rgb(255, 255, 255);
}

.cont-2 p{
    /* background-color: red; */
    font-weight: lighter;
    font-size: 0.4cm;
    text-transform: capitalize;
}


.video-wrapper{
    width: 100%;
    height: 800px;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: -2;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
}

.video-1-2{
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(50%,-50%); */
    /* width: 3170px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: absolute;
    top: 0;
    left: 0;
    /* right: 5%; */
    object-position: center;
    object-fit: cover;
    /* left: -41.5%; */
    z-index: 40;
}

.h1-1-2{
    padding-top: 2%;
    padding-left: 2%;
    font-size: 4cm;
    text-transform: uppercase;
}
.p-1-2{
    padding-top: 1%;
    padding-left: 3%;
}
.p-2-2{
    
    /* font-family: 'General',sans-serif; */
    padding-left: 3%;
    padding-top: 0.5%;
}

.btn-1-2{
    font-family: 'General',sans-serif;
    font-size: x-small;
    background-color: yellow;
    border-radius: 25px;
    width: 150px;
    height: 7.6vh;
    margin-top: 1%;
    margin-left: 4%;
    text-transform: uppercase;
}

.h1-2-2{
    font-size: 4cm;
    transform: translate(51%,160px);
    text-transform: uppercase;
}

}

@media (min-width:1025px) and (max-width:1280px) {
    .cont-2{
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    z-index: 50;
    color: rgb(255, 255, 255);
}

.cont-2 p{
    font-size: larger;
    text-transform: capitalize;
}


.video-wrapper{
    width: 100%;
    height: 800px;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: -2;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
}

.video-1-2{
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(50%,-50%); */
    /* width: 3170px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: absolute;
    top: 0;
    left: 0;
    /* right: 5%; */
    object-position: center;
    object-fit: cover;
    /* left: -41.5%; */
    z-index: 40;
}

.h1-1-2{
    padding-top: 2%;
    padding-left: 2%;
    font-size: 2.5cm;
    text-transform: uppercase;
}
.p-1-2{
    padding-top: 1%;
    padding-left: 3%;
}
.p-2-2{
    padding-left: 3%;
    padding-top: 0.5%;
}

.btn-1-2{
    background-color: yellow;
    border-radius: 25px;
    width: 130px;
    height: 6vh;
    margin-top: 1%;
    margin-left: 4%;
}

.h1-2-2{
    font-size: 2.5cm;
    transform: translate(61%,160px);
    text-transform: uppercase;
}
}
@media (min-width:1280px) {


.cont-2{
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    z-index: 50;
    color: rgb(255, 255, 255);
}

.cont-2 p{
    font-size: medium;
    text-transform: capitalize;
}


.video-wrapper{
    width: 100%;
    height: 800px;
    background-color: rgb(0, 0, 0);
    position: relative;
    z-index: -2;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
}

.video-1-2{
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(50%,-50%); */
    /* width: 3170px; */
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    position: absolute;
    top: 0;
    left: 0;
    /* right: 5%; */
    object-position: center;
    object-fit: cover;
    /* left: -41.5%; */
    z-index: 40;
}

.h1-1-2{
    padding-top: 2%;
    padding-left: 2%;
    font-size: 5cm;
    text-transform: uppercase;
}
.p-1-2{
    padding-top: 1%;
    padding-left: 3%;
}
.p-2-2{
    padding-left: 3%;
    padding-top: 0.5%;
}

.btn-1-2{
    font-family: 'General',sans-serif;
    font-size: small;
    text-transform: uppercase;
    background-color: yellow;
    color: black;
    cursor: pointer;
    border-radius: 25px;
    width: 150px;
    height: 6vh;
    margin-top: 1%;
    margin-left: 4%;
}

.h1-2-2{
    font-size: 5cm;
    transform: translate(66%,80px);
    text-transform: uppercase;
}

}