
.first-text-4 > h2{
    font-family: 'Rober Regular',sans-serif;

}

.first-text-4 > p{
    font-family: 'Robert Medium',sans-serif;

}


@media (max-width:480px) {
    
   
.cont-4{
    width: 100%;
    background-color: black;
    color: #ffffff;
}



.first-text-4{
    margin-left: 5%;
    padding-top: 5%;
}


.first-text-4 > h2{
    font-family: 'Rober Regular',sans-serif;
    font-weight: lighter;
    color: whitesmoke;
    font-size: medium;
}

.first-text-4 > p {
    padding-top: 2%;
    /* width: 30%; */
    color: rgb(163, 162, 162);
    font-size: small;
    font-family: 'Robert Medium',sans-serif;
}


/* 🔥 GRID LAYOUT */
.contain-videos-texts{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    /* width: 98%; */
    height: 2200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
}

/* 1 - FULL WIDTH (TOP) */
.contain-video-text{
    
    height: 60vh;
    position: relative;
}

/* 2 - BIG LEFT */
.contain-video-text-2{
    position: relative;
    height: 70vh;
}

/* 3 - TOP RIGHT */
.contain-video-text-3{
    height: 40vh;
    position: relative;
    overflow: hidden;
}

/* 4 - BOTTOM RIGHT */
.contain-video-text-4{
    height: 40vh;
    position: relative;
    overflow: hidden;
}

/* 5 - BOTTOM LEFT */
.contain-video-text-5{
    
    height: 250px;
    width: 100%;
    color: whitesmoke;
    background-color: #5724FF;
    position: relative;
    /* bottom: 10%; */
}

/* 6 - BOTTOM RIGHT */
.contain-video-text-6{
    height: 250px;
    width: 100%;
    position: relative;
    /* bottom: 10%; */
    overflow: hidden;
}


/* 🔥 VIDEO FIX */
.video,
.video,
.video,
.video,
.video{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* 🔥 TEXT STYLING */
.contain-video-text h1,
.contain-video-text-2 h1,
.contain-video-text-3 h1,
.contain-video-text-4 h1{
    position: relative;
    z-index: 2;
    padding: 20px;
    font-size: 2rem;
    font-family: 'Zentry',sans-serif;
}

.contain-video-text h3,
.contain-video-text-2 h3,
.contain-video-text-3 h3,
.contain-video-text-4 h3{
    position: relative;
    z-index: 2;
    padding: 0 20px;
    font-family: 'Rober Medium',sans-serif;
    font-weight: lighter;
    font-size: medium;
    color: white;
}


.cont-4 button{
   position: absolute;
   bottom: 2%;
    z-index: 2;
    margin: 20px;
    height: 6vh;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
    width: 130px;
}
}

@media (min-width:481px) and (max-width:768px) {
    
   
.cont-4{
    width: 100%;
    background-color: black;
    color: #ffffff;
}


.first-text-4{
    margin-left: 5%;
    padding-top: 5%;
}


.first-text-4 > h2{
    font-family: 'Rober Regular',sans-serif;
    font-weight: lighter;
    color: whitesmoke;
    font-size: medium;
}

.first-text-4 > p {
    padding-top: 1%;
    /* width: 30%; */
    color: rgb(163, 162, 162);
    font-family: 'Robert Medium',sans-serif;
}



/* 🔥 GRID LAYOUT */
.contain-videos-texts{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-auto-rows: 350px; */
    /* grid-template-rows: auto 350px 350px 350px; */
    /* gap: 30px; */
    /* row-gap: 5px; */
    /* flex-shrink: 0; */
    /* column-gap: 30px; */
    gap: 50px;
    padding: 10px;
    width: 98%;
    min-height: auto;
    height: max-content;
    margin: auto;
}

/* 1 - FULL WIDTH (TOP) */
.contain-video-text{
    
    /* ✅ FIXED */
    height: 70vh;
    position: relative;
}

/* 2 - BIG LEFT */
.contain-video-text-2{
    
      /* ✅ starts below 1 */
    position: relative;
    background-color: darkblue;
    overflow: hidden;
}

/* 3 - TOP RIGHT */
.contain-video-text-3{
    
    position: relative;
    /* overflow: hidden; */
    /* background-color: red; */
}

/* 4 - BOTTOM RIGHT */
.contain-video-text-4{
    /* background-color: red; */
    position: relative;
    overflow: hidden;
}

/* 5 - BOTTOM LEFT */
.contain-video-text-5{
    
    height: 250px;
    width: 90%;
    color: whitesmoke;
    background-color: #5724FF;
    position: relative;
    bottom: 10%;
}

/* 6 - BOTTOM RIGHT */
.contain-video-text-6{
    height: 250px;
    width: 90%;
    position: relative;
    bottom: 10%;
    overflow: hidden;
}

.contain-video-text-2{
    height: 90vh;
}
.contain-video-text-3{
    height: 50vw;
    width: 90%;
}
.contain-video-text-4{
    height: 50vw;
    width: 90%;
}


/* 🔥 VIDEO FIX */
.video,
.video,
.video,
.video,
.video{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-3{
    width: 90%;
    height: 50vw;
    margin-left: 5%;
}
.video-4{
    width: 90%;
    height: 50vw;
    margin-left: 5%;
}


/* 🔥 TEXT STYLING */
.contain-video-text h1,
.contain-video-text-2 h1,
.contain-video-text-3 h1,
.contain-video-text-4 h1{
    position: relative;
    z-index: 2;
    padding: 20px;
    font-size: 2rem;
    font-family: 'Zentry',sans-serif;
}

.contain-video-text h3,
.contain-video-text-2 h3,
.contain-video-text-3 h3,
.contain-video-text-4 h3{
    position: relative;
    z-index: 2;
    padding: 0 20px;
    color: white;
    font-weight: lighter;
    font-size: medium;
    font-family: 'Robert Regular', sans-serif;
}

.cont-4 button{
   position: absolute;
   bottom: 2%;
    z-index: 2;
    margin: 20px;
    height: 6vh;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
    width: 130px;
}
}


@media (min-width:769px) and (max-width:1024px) {
    
      
.cont-4{
    width: 100%;
    background-color: black;
    color: #ffffff;
}


.first-text-4{
    margin-left: 5%;
    padding-top: 5%;
}


.first-text-4 > h2{
    font-family: 'Rober Regular',sans-serif;
    font-weight: lighter;
    color: whitesmoke;
    font-size: medium;
}

.first-text-4 > p {
    padding-top: 1%;
    /* width: 30%; */
    color: rgb(163, 162, 162);
    font-family: 'Robert Medium',sans-serif;
}



/* 🔥 GRID LAYOUT */
.contain-videos-texts{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 350px; */
    grid-template-rows: auto 350px 350px 350px;
    /* gap: 30px; */
    row-gap: 5px;
    column-gap: 30px;
    padding: 10px;
    width: 98%;
    height: 1500px;
    margin: auto;
}

/* 1 - FULL WIDTH (TOP) */
.contain-video-text{
    grid-column: 1/4;
    height: 70vh;
    position: relative;
}

/* 2 - BIG LEFT */
.contain-video-text-2{
    grid-column: 1 / 2;
    grid-row: 2 / span 2;  /* ✅ starts below 1 */
    position: relative;
}

/* 3 - TOP RIGHT */
.contain-video-text-3{
    /* grid-column: 2 / 3; */
    /* grid-row: 2 / 3; */
    position: relative;
    overflow: hidden;
}

/* 4 - BOTTOM RIGHT */
.contain-video-text-4{
    /* grid-column: 2 / 3; */
    grid-row: 3/4;
    position: relative;
    overflow: hidden;
}

/* 5 - BOTTOM LEFT */
.contain-video-text-5{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 270px;
    width: 105%;
    color: whitesmoke;
    background-color: #5724FF;
    position: relative;
    bottom: 10%;
}

/* 6 - BOTTOM RIGHT */
.contain-video-text-6{
    grid-column: 2 / 3;
    /* grid-row: 4 / 5; */
    height: 270px;
    width: 109%;
    position: relative;
    bottom: 10%;
    overflow: hidden;
}

.contain-video-text-2{
    height: 90%;
}
.contain-video-text-3{
    height: 80%;
    width: 109%;
}
.contain-video-text-4{
    height: 80%;
    width: 109%;
}


/* 🔥 VIDEO FIX */
.video,
.video,
.video,
.video,
.video{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* 🔥 TEXT STYLING */
.contain-video-text h1,
.contain-video-text-2 h1,
.contain-video-text-3 h1,
.contain-video-text-4 h1{
    position: relative;
    z-index: 2;
    padding: 20px;
    font-size: 3.9rem;
    font-family: 'Zentry',sans-serif;
}

.contain-video-text h3,
.contain-video-text-2 h3,
.contain-video-text-3 h3,
.contain-video-text-4 h3{
    font-family: 'Robert Regular',sans-serif;
    font-weight: lighter;
    position: relative;
    z-index: 2;
    padding: 0 20px;
    color: white;
}


.cont-4 button{
   position: absolute;
   bottom: 2%;
    z-index: 2;
    margin: 20px;
    height: 6vh;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
    width: 130px;
}
}





@media (min-width:1025px) and (max-width:1280px) {
    
.cont-4{
    width: 100%;
    background-color: black;
    color: #eaeaea;
}

.first-text-4{
    margin-left: 5%;
    padding-top: 5%;
}


.first-text-4 > h2{
    font-family: 'Rober Regular',sans-serif;
    font-weight: lighter;
    color: whitesmoke;
    font-size: medium;
}

.first-text-4 > p {
    padding-top: 1%;
    /* width: 30%; */
    color: rgb(163, 162, 162);
    font-family: 'Robert Medium',sans-serif;
}



/* 🔥 GRID LAYOUT */
.contain-videos-texts{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 350px; */
    grid-template-rows: auto 350px 350px 350px;
    gap: 30px;
    padding: 10px;
    width: 98%;
    margin: auto;
}

/* 1 - FULL WIDTH (TOP) */
.contain-video-text{
    grid-column: 1 / 3;
    height: 90vh;
    position: relative;
}

/* 2 - BIG LEFT */
.contain-video-text-2{
    grid-column: 1 / 2;
    grid-row: 2 / span 2;  /* ✅ starts below 1 */
    position: relative;
}

/* 3 - TOP RIGHT */
.contain-video-text-3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    overflow: hidden;
}

/* 4 - BOTTOM RIGHT */
.contain-video-text-4{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    position: relative;
    overflow: hidden;
}

/* 5 - BOTTOM LEFT */
.contain-video-text-5{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 300px;
    color: whitesmoke;
    background-color: #5724FF;
    position: relative;
}

/* 6 - BOTTOM RIGHT */
.contain-video-text-6{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    height: 300px;
    position: relative;
    overflow: hidden;
}

/* 🔥 VIDEO FIX */
.video,
.video,
.video,
.video,
.video{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* 🔥 TEXT STYLING */
.contain-video-text h1,
.contain-video-text-2 h1,
.contain-video-text-3 h1,
.contain-video-text-4 h1{
    position: relative;
    z-index: 2;
    padding: 20px;
    font-size: 5rem;
    font-family: 'Zentry',sans-serif;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bolder;
}

.contain-video-text h3,
.contain-video-text-2 h3,
.contain-video-text-3 h3,
.contain-video-text-4 h3{
    position: relative;
    z-index: 2;
    padding: 0 20px;
    color: white;
    font-family: 'Rober General',sans-serif;
    font-weight: lighter;
}


.cont-4 button{
   position: absolute;
   bottom: 3%;
    z-index: 2;
    margin: 20px;
    height: 6vh;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
    width: 130px;
}
}




@media (min-width:1281px) {

.cont-4{
    width: 100%;
    height: 268vh;
    background-color: rgb(0, 0, 0);
    color: #f8f8f8;
}

.first-text-4{
    margin-left: 5%;
    padding-top: 5%;
}


.first-text-4 > h2{
    font-family: 'Rober Regular',sans-serif;
    font-weight: lighter;
    color: whitesmoke;
    font-size: medium;
}

.first-text-4 > p {
    padding-top: 1%;
    /* width: 30%; */
    color: rgb(163, 162, 162);
    font-family: 'Robert Medium',sans-serif;
}

/* 🔥 GRID LAYOUT */
.contain-videos-texts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 350px; */
    grid-template-rows: auto 350px 350px 350px;
    gap: 30px;
    width: 90%;
    margin: auto;
}

/* 1 - FULL WIDTH (TOP) */
.contain-video-text{
    overflow: hidden;
    /* border: 2px solid whitesmoke; */
    border-radius: 15px;
    margin-top: 5%;
    grid-column: 1/4;    
    height: 90vh;
    position: relative;
}

/* 2 - BIG LEFT */
.contain-video-text-2{
    overflow: hidden;
    /* border: 2px solid whitesmoke; */
    border-radius: 15px;
    grid-column: 1 / 2;
    grid-row: 2 / span 2;  /* ✅ starts below 1 */
    position: relative;
}

/* 3 - TOP RIGHT */
.contain-video-text-3{
    overflow: hidden;
    /* border: 2px solid whitesmoke; */
    border-radius: 15px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    overflow: hidden;
}

/* 4 - BOTTOM RIGHT */
.contain-video-text-4{
    overflow: hidden;
    /* border: 2px solid whitesmoke; */
    border-radius: 15px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    position: relative;
    overflow: hidden;
}

/* 5 - BOTTOM LEFT */
.contain-video-text-5{
    overflow: hidden;
    /* border: 2px solid whitesmoke; */
    border-radius: 15px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 270px;
    color: whitesmoke;
    background-color: #5724FF;
    position: relative;
}

/* 6 - BOTTOM RIGHT */
.contain-video-text-6{
    overflow: hidden;
    /* border: 2px solid whitesmoke; */
    border-radius: 15px;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    height: 270px;
    position: relative;
    overflow: hidden;
}

/* 🔥 VIDEO FIX */
.video-1,
.video-2,
.video-3,
.video-4,
.video-5{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 🔥 TEXT STYLING */
.contain-video-text h1,
.contain-video-text-2 h1,
.contain-video-text-3 h1,
.contain-video-text-4 h1{
    position: relative;
    z-index: 2;
    padding: 20px;
    padding-top: 2%;
    font-size: 7rem;
    font-family: 'Zentry',sans-serif;
    color: whitesmoke;
}

.contain-video-text h3,
.contain-video-text-2 h3,
.contain-video-text-3 h3,
.contain-video-text-4 h3{
    position: relative;
    z-index: 2;
    padding: 0 20px;
    color: rgb(204, 200, 200);
    font-family: 'Rober Medium',sans-serif;
    width: 50%;
    font-weight: lighter;
}


.cont-4 button{
   position: absolute;
   bottom: 0;
    z-index: 2;
    margin: 20px;
    height: 6vh;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
    width: 130px;
}

}