*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

.para-1-6{
    color: whitesmoke;
    font-family: 'Rober Regular',sans-serif;
}

.h1-1-6{
    font-family: 'Zentry',sans-serif;
}
.btn-1-6{
    text-transform: uppercase;
    background-color: whitesmoke;
    color: black;
    font-family: 'Rober Medium',sans-serif;
}

@media (max-width:480px) {
        .cont-6{
    background-color: #c7c7ee;
    width: 100%;
    height: 580px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    /* top: 10%; */
    /* margin-left: 7%; */
    border-radius: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 97%;
    height: 340px;
}

.para-1-6{
    padding-top: 6%;
}
.h1-1-6{
    text-transform: uppercase;
    margin-top: 12%;
    /* width: 64%; */
    /* font-size: 1cm; */
    font-weight: lighter;
    text-align: center;
    z-index: 60;
    color: rgb(255, 255, 255);
    position: relative;
    /* transform: translateX(12vw); */
    /* background-color: red; */
}

.btn-1-6{
    position: relative;
    z-index: 50;
    font-size: x-small;
    text-transform: uppercase;
    width: 110px;
    height: 5.5vh;
    border-radius: 25px;
    margin-top: 5%;
}

.img-1-6{
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(12rad) rotateZ(12rad);
    width: 80px;
    height: 100px;
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 10%;
}
.img-2-6{
    transform:rotateX(770deg);
    /* transform:skew(1deg,20deg); */
    width: 100px;
    height: 120px;
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: 1;


}
.img-3-6{
    margin-top: 20%;
    /* margin-left: -45vw; */
    left: -5%;
    bottom: 10%;
    width: 130px;
    height: 96px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(4rad) rotateZ(12rad);
     
}
}

@media (min-width:481px) and (max-width:768px) {
    .cont-6{
    background-color: #c7c7ee;
    width: 100%;
    height: 680px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    /* top: 10%; */
    /* margin-left: 7%; */
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 470px;
}

.para-1-6{
    padding-top: 6%;
}
.h1-1-6{
    text-transform: uppercase;
    margin-top: 11%;
    /* width: 64%; */
    font-size: 1.3cm;
    font-weight: lighter;
    text-align: center;
    z-index: 60;
    color: rgb(255, 255, 255);
    position: relative;
    /* transform: translateX(12vw); */
    /* background-color: red; */
}

.btn-1-6{
    position: relative;
    z-index: 50;
    font-size: x-small;
    text-transform: uppercase;
    width: 110px;
    height: 5.5vh;
    border-radius: 25px;
    margin-top: 5%;
}

.img-1-6{
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(12rad) rotateZ(12rad);
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: 30%;
    right: 10%;
}
.img-2-6{
    transform:rotateX(770deg);
    /* transform:skew(1deg,20deg); */
    width: 140px;
    height: 150px;
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: 1;


}
.img-3-6{
    margin-top: 20%;
    margin-left: -45vw;
    width: 150px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    bottom: 5%;
    z-index: 1;
    border-radius: 4px;
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(4rad) rotateZ(12rad);
    
     
}
}

@media (min-width:769px) and (max-width:1024px) {
    .cont-6{
    background-color: #c7c7ee;
    width: 100%;
    height: 680px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    /* top: 10%; */
    /* margin-left: 7%; */
    border-radius: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 96%;
    height: 440px;
}

.para-1-6{
    padding-top: 6%;
    font-size: small;
}
.h1-1-6{
    text-transform: uppercase;
    margin-top: 2%;
    /* width: 64%; */
    font-size: 1.6cm;
    font-weight: lighter;
    text-align: center;
    z-index: 60;
    color: rgb(255, 255, 255);
    position: relative;
    /* transform: translateX(12vw); */
    /* background-color: red; */
}

.btn-1-6{
    position: relative;
    z-index: 50;
    font-size: x-small;
    text-transform: uppercase;
    width: 150px;
    height: 7vh;
    border-radius: 25px;
    margin-top: 2%;
}

.img-1-6{
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(12rad) rotateZ(12rad);
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: 3%;
    right: 10%;
}
.img-2-6{
    /* transform:rotateX(770deg); */
    /* transform:skew(1deg,20deg); */
    width: 140px;
    height: 100px;
     position: absolute;
    top: 10%;
    left: 2%;
    z-index: 1;


}
.img-3-6{
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(4rad) rotateZ(12rad);
    width: 150px;
    height: 100px;
   position: absolute;
    left: 15%;
    bottom: 10%;
    z-index: 1;
     
}
}

@media (min-width:1025px) and (max-width:1280px) {
    .cont-6{
    background-color: #c7c7ee;
    width: 100%;
    height: 680px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    /* top: 10%; */
    /* margin-left: 7%; */
    border-radius: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 990px;
    height: 520px;
}

.para-1-6{
    padding-top: 6%;
    font-size: small;
}
.h1-1-6{
    text-transform: uppercase;
    margin-top: 2%;
    /* width: 64%; */
    font-size: 1.8cm;
    font-weight: lighter;
    text-align: center;
    z-index: 60;
    color: rgb(255, 255, 255);
    position: relative;
    /* transform: translateX(12vw); */
    /* background-color: red; */
}

.btn-1-6{
    font-size: x-small;
    text-transform: uppercase;
    width: 150px;
    height: 7vh;
    border-radius: 25px;
    margin-top: 2%;
}

.img-1-6{
    /* transform: translate3d(0px, 0px, 0px) rotateX(0rad) rotateY(0rad) rotateZ(0rad) */
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(12rad) rotateZ(12rad);
    width: 300px;
    height: 320px;
    position: absolute;
    z-index: 1;
    top: 3%;
    right: 10%;
}
.img-2-6{
    /* transform:rotateX(770deg); */
    /* transform:skew(1deg,20deg); */
    width: 150px;
    height: 120px;
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: 1;


}
.img-3-6{
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(4rad) rotateZ(12rad);
    width: 240px;
    height: 170px;
    position: absolute;
    left: 15%;
    bottom: 10%;
    z-index: 1;
     
}

}


@media (min-width:1280px) {
    

.cont-6{
    background-color: #c7c7ee;
    width: 100%;
    height: 750px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
    position: relative;
    /* top: 10%; */
    /* margin-left: 7%; */
    border-radius: 10px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 1250px;
    height: 620px;
}

.para-1-6{
    padding-top: 6%;
    font-size: small;
}
.h1-1-6{
    text-transform: uppercase;
    margin-top: 2%;
    /* width: 64%; */
    font-size: 2cm;
    z-index: 60;
    color: rgb(255, 255, 255);
    position: relative;
    /* transform: translateX(192px); */
    /* background-color: red; */
}

.btn-1-6{
    font-size: x-small;
    text-transform: uppercase;
    width: 150px;
    height: 7vh;
    border-radius: 55px;
    margin-top: 2%;
}

.img-1-6{
    /* transform: translate3d(0px, 0px, 0px) rotateX(0rad) rotateY(0rad) rotateZ(0rad) */
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(12rad) rotateZ(12rad);
    width: 300px;
    height: 420px;
    position: absolute;
    z-index: 1;
    top: 3%;
    right: 10%;
}
.img-2-6{
    /* transform:rotateX(770deg); */
    /* transform:skew(1deg,20deg); */
    width: 140px;
    height: 150px;
    position: absolute;
    top: 10%;
    left: 2%;
    z-index: 1;


}
.img-3-6{
    transform:translate3d(0px,0px,0px) rotateX(12rad) rotateY(4rad) rotateZ(12rad);
    width: 300px;
    height: 200px;
    position: absolute;
    left: 15%;
    bottom: 10%;
    z-index: 1;
     
}

}